@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        Vamos a tener una fiesta!!
    </div>
    <a asp-action="RsvpForm">RSVP Form</a>
</div>
